<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <%- res.redirect('/') %>
<% } %>

<%- messages() %>

<% if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
    <h2>Welcome <%- account_firstname %></h2>
    <p>You're logged in.</p>
    <ul class="inv-manage">
        <li><a id="info-update" href="/account/update/<%= accountData.account_id %>">Edit Account Information</a></li>
    </ul>
    

    <h2>Inventory management</h2>
    <ul class="inv-manage">
        <li><a href="/inv/">Manage Inventory</a></li>
    </ul>
   
<% } else { %>
    <h2>Welcome <%- account_firstname %></h2>
    <p>You're logged in.</p>
    
    <ul class="inv-manage">
        <li><a id="info-update" href="/account/update/<%= accountData.account_id %>">Edit Account Information</a></li>
    </ul>
<% } %>
